
/* RESET DE CONFIGURAÇÕES */

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* img{width: 100%;} */
.container{max-width: 1000px; margin: 0 auto;}
.retrato {background-color: #FFF; border: 1px solid #9E9E9E; padding: 5px;}
.btn {background-color: #333; color: #FFF; text-decoration: none; padding: 8px 12px; display: inline-block;}

/* INICIO DO HEADER */
#logo{display: block; width: 100%; text-align: center; padding: 15px 0;}
#menu{display: block; width: 100%; text-align: center;}
#menu ul{list-style: none;}
#menu ul li{display: inline-block; border-bottom: 2px solid #FFF}
#menu ul li:hover{border-color: #9E9E9E;}
#menu ul li a{text-decoration: none; color: #9E9E9E; display: inline-block; padding: 8px 16px;}

/* INICIO BANNER */
#banner{background-image: url(../images/fundo.jpg); background-position: center;}
#banner_content{position: relative; width: 100%; height: 386px;}
#predio, #curva, #banner_txt{position: absolute;}

#curva{bottom: 0; width: 100%; z-index: 3;}
#predio{right: 0; z-index: 1;}
#banner_txt{
    width: 100%;
    color: #FFF; 
    font-size: 2.8em; 
    line-height: 0.65em; 
    text-align: center; 
    top:40%;
    text-shadow: 0 0 3px #9E9E9E;
    z-index: 2;
}
#banner_txt small{font-size: 0.5em;}
/* FIM BANNER */

#content{display: flex; justify-content: space-between; flex-direction: column-reverse; padding: 35px 0;}
#content img{width: 100%;}

#content h2{font-weight: bold; color: #333; margin-bottom: 1.5em; text-align: center;}

#obras {width: 100%; padding: 15px;}
#obras article{display: flex; justify-content: space-between; flex-direction: column; align-items: start; 
    margin-bottom: 15px;}
#obras article > img {width: 100%; margin-bottom: 1em; box-shadow: 2px 2px 4px #999;}
#obras article div{width: 100%;}
#obras article h3{margin-bottom: 1em;}
#obras article p{margin-bottom: 1em;}

#formulario {width: 100%; padding: 15px;}
#formulario form{background-color: #e3e3e3; padding:15px}
#formulario label{display: block; margin-bottom: 15px;}
#formulario label > span{display: block;}
#formulario label > input{width: 100%; padding: 8px 10px; font-size: 16px;}
#formulario div {text-align: center;}
#formulario button {padding: 8px 10px; text-transform: uppercase;}

/* FOOTER  */
body > footer {
    background-color: #333; color: #FFF; padding: 25px; text-align: center;
}
#footer_text{width: 100%; margin-bottom: 1em;}
#footer_endereco, #footer_contatos{width: 100%; margin-bottom: 1em;}
#footer_contatos a {color: white; font-weight: bold;}


/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) { 
    
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #obras article {flex-direction: row;} 
    #obras article > img {width: 40%; margin-bottom: 1em;}
    #obras article div{width: 58%;}
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    header{display: flex; justify-content: space-between; margin: 15px auto !important;}
    #logo{text-align: left;}
    #menu{text-align: right;}
    #content{flex-direction: row;}
    #formulario {width: 40%;}
    #obras {width: 55%;}

    body > footer {
        display: flex; justify-content: space-evenly; align-items: center; 
    }
    #footer_text{width: 48%; text-align: center;}
    #footer_endereco, #footer_contatos{width: 25%;}
    #footer_endereco{border-left: 1px solid #fff; padding-left: 2%;}
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
