*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,'bold';
    
}
/* classes auxiliares */
.container {max-width: 1000px; max-width: 100%; height: auto;}
.btn {background-color: rgb(3, 3, 54); color: #FFF; text-decoration: none; padding: 8px 20px; display: inline-block; border-radius: 12px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.btn:hover{background-color: rgb(43, 48, 114); left: 20;}
/* .ativa{display: flex; align-items: center;} */

img{max-width: 100%; height: auto;}

/* Início do header */
header {display: flex; justify-content: space-between; align-items: center; background: rgb(215, 230, 247);}
#logo {margin: 0px 130px;}
#orcamento {margin: 0px 130px;}


/* Formatações do menu */
#menu ul{font-size: 1.0em;}
#menu ul{list-style: none;}
#menu ul li{display: inline-block;}
#menu  ul  li a {color: rgb(81, 81, 82); padding: 10px; display: block; text-decoration: none;}
#menu  ul  li a:hover {background-color: rgb(255, 255, 255); color: rgb(43, 48, 114); border-radius: 15px; text-decoration: none;}

/* Formatação do banner */
#banner_txt{color: #FFF; text-align: center; position: absolute; top: 260px; left: 250px;}
#banner_txt h1{font-size: 4em;}
#banner_txt h2{font-size: 3em; color: rgb(218, 133, 35); text-shadow: 0 0 4px #504f4f;}
#banner_txt h3{font-size: 2em; line-height: 3em; color: rgb(255, 255, 255); text-shadow: 0 0 4px #504f4f;}

/* Formatação do section como funciona */
#energia h2{color: rgb(43, 48, 114); text-align: center; font-size: 2em; padding: 30px; background: rgb(215, 230, 247); margin-top: -2px;}
#energia article div.icone1{width: 15%; position: relative; left: 675px;}
#energia article > img{width: 38%; position: relative; left: 890px; padding: 15px;}
#energia article h3{color: rgb(3, 3, 54); text-align: center; font-size: 1.8em; padding: 40px;}
#energia article div{width: 2.5%; position: relative; left: 130px; top: -440px; line-height: 55px;}
#energia article p{position: relative;  margin-left: 190px; top: -493px; font-size: 1.1em; color: rgb(81, 81, 82);}
 
/* Formatação do section soluções */
#solucoes h2{color: rgb(43, 48, 114); text-align: center; font-size: 2em; position: relative; margin-top: -360px; padding: 30px; background: rgb(215, 230, 247);}
#solucoes div.icone2{width: 15%; position: relative; left: 675px; top: 510px;}
#solucoes p{margin-bottom: 2em; line-height: 1.5em; padding-top: 25px;}
#solucoes div.op1 p{padding-top: 38px;}
#solucoes div.op2 p{padding-top: 15px;}
#solucoes .btn{background-color: rgb(218, 133, 35); color: rgb(43, 48, 114);}
#solucoes .btn:hover{background-color: rgb(228, 162, 88);}
#solucoes div.op1{display: block; position: relative; right: 1060px; margin-top: 70px; text-align: center; float: right; color: #FFF; padding: 22px 14px 10px 12px; border-radius: 8%; background-color: rgb(43, 48, 114);}
#solucoes div.op2{display: block; position: relative; right: 309px; margin-top: 50px; text-align: center; float: right; color: #FFF; padding: 22px 20px 18px 10px; border-radius: 8%; background-color: rgb(43, 48, 114);}
#solucoes div.op3{display: block; position: relative; left: 450px; margin-top: 70px; text-align: center; float: right; color: #FFF; padding: 22px 14px 10px 12px; border-radius: 8%; background-color: rgb(43, 48, 114);}


/* Formatação do section nossos projetos */
#projetos h2{color: rgb(43, 48, 114); text-align: center; font-size: 2em; position: relative; margin-top: 540px; padding: 30px; background: rgb(215, 230, 247);}
#projetos div.icone3{width: 15%; position: relative; left: 675px; top: 465px;}
#projetos h3{color: rgb(3, 3, 54); text-align: center; font-size: 1.6em; position: relative; margin-top: 35px;}
#projetos div.casa1{overflow: hidden; width: 19%; right: 1120px; padding: 6px 6px 10px; float: right; position: relative; margin-top: 35px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#projetos div.casa2{overflow: hidden; width: 19%; right: 497px; padding: 6px 6px 10px; float: right; position: relative; margin-top: 35px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#projetos div.casa3{overflow: hidden; width: 19%; left: 126px; padding: 6px 6px 10px; float: right; position: relative; margin-top: 35px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#projetos div.casa4{overflow: hidden; width: 19%; left: 750px; padding: 6px 6px 10px; float: right; position: relative; margin-top: 35px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#projetos div P{padding: 6px; text-align: center; line-height: 1.5em;}
#projetos div.casa1 >img{-webkit-transition: -webkit-transform .5s ease; transition: transform .5s ease;}
#projetos div.casa1 >img:hover{-webkit-transform: scale(2.3); transform: scale(2.3);}
#projetos div.casa2 >img{-webkit-transition: -webkit-transform .5s ease; transition: transform .5s ease;}
#projetos div.casa2 >img:hover{-webkit-transform: scale(2.3); transform: scale(2.3);}
#projetos div.casa3 >img{-webkit-transition: -webkit-transform .5s ease; transition: transform .5s ease;}
#projetos div.casa3 >img:hover{-webkit-transform: scale(2.3); transform: scale(2.3);}
#projetos div.casa4 >img{-webkit-transition: -webkit-transform .5s ease; transition: transform .5s ease;}
#projetos div.casa4 >img:hover{-webkit-transform: scale(2.3); transform: scale(2.3);}

/* Formatação do section quem somos */
#marca h2{color: rgb(43, 48, 114); text-align: center; font-size: 2em; position: relative; margin-top: 540px; padding: 30px; background: rgb(215, 230, 247);}
#marca div.icone4{width: 15%; position: relative; left: 675px; top: -320px;}
#marca article div > img{width: 28%; position: relative; left: 1000px; top: 53px; border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#marca article h3{position: relative; left: 400px; top: -410px; font-size: 1.5em; color: rgb(43, 48, 114);}
#marca article P{font-size: 1.1em; text-align: left; position: relative; left: 120px; margin-top: -400px; color: rgb(81, 81, 82); line-height: 1.3em;}
#marca article div.mvv1{position: relative; margin-top: 210px; font-size: 1em; line-height: 1em;}
#marca article div.mvv2{position: relative; margin-top: 100px; font-size: 1em; line-height: 1em;}
#marca article div.mvv3{position: relative; margin-top: 100px; font-size: 1em; line-height: 1em;}

/* formatação crédito */
#credito p{color: rgb(3, 3, 54); text-align: left; left: 190px; font-size: 1.8em; position: relative; top: -220px;} 
#credito img{ width: 40%; position: relative; top: -440px; left: 740px; border-radius: 20px; box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);} 
#credito .desafios h4{position: relative; text-align: center; top: -270px; font-size: 1.6em; line-height: 1.3em; color:rgb(3, 3, 54);}


/* formatação formulário */
#formulario P{position: relative; text-align: center; top: -5px; font-size: 1.2em; color: rgb(43, 48, 114);}
#formulario h2{position: relative; text-align: center; top: -5px; font-size: 2.5em; color: rgb(43, 48, 114);}
#formulario {width: 70%; position: relative; left: 200px; top: -110px;}
#formulario form{background-color: rgb(218, 133, 35); padding: 20px; border-radius: 15px;}
#formulario label{display: block; margin-bottom: 15px;}
#formulario label > span{display: block;}
#formulario label > input{width: 100%; padding: 10px 10px; font-size: 16px; border-radius: 10px;}  
#formulario div {text-align: center;}
#formulario button {padding: 10px 50px; text-transform: uppercase; border-radius: 8px; color: #FFF; background-color: rgb(43, 48, 114);}
#formulario .c1{padding: 8px; border-radius: 8px; margin: 15px;}
#formulario .l1{padding: 8px; border-radius: 8px;}
#orcamento .privacidade{position: relative; text-align: center; top: -110px; font-size: 1em;}

/* Formatação do footer */
#contatos{background-color: rgb(215, 230, 247)}
#contatos p{text-align: center; position: relative; top: -20px;}
#contatos div.logom h3{position: relative; text-align: center; top: -350px; font-size: 1.4em; line-height: 1.1em; color: rgb(43, 48, 114);}
#contatos div.logom > img{position: relative; left: 715px; top: 120px;}
#footer_endereço{position: relative; left: 190px; top: 26px; line-height: 1.5em;}
#footer_contatos{position: relative; left: 1050px; top: -140px; line-height: 1.5em;}
#footer_nossos_canais > img{width: 3%; position: relative; left: 715px; top: -150px;}
#footer_nossos_canais h3{position: relative; left: 715px; top: -160px;}


/* Botão de rolagem para o topo */
#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 18px; /* Place the button at the bottom of the page */
    right: 130px; /* Place the button 30px from the right */
    height: 65px;
    width: 65px;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
}
